#personalization_canvas {
    border: 2px dashed #ccc;
    background-color: #f9f9f9;
    width: 800px !important;
    height: 800px !important;
}

.personalization-boundary {
    border: 2px solid green;
    position: absolute;
    box-sizing: border-box;
}

.modal-xl {
    max-width: 90%;
}

.menu-item:hover {
    background-color: #4a5568 !important;
    color: white !important;
}

.menu-item.active {
    background-color: #4a5568 !important;
    color: white !important;
}

.menu-panel {
    animation: fadeIn 0.3s;
} @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}