.design-config-overlay .resizer {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #007bff;
    position: absolute;
    z-index: 2;
}

.design-config-overlay .resizer.top-left {
    left: -5px;
    top: -5px;
    cursor: nwse-resize;
}
.design-config-overlay .resizer.top-right {
    right: -5px;
    top: -5px;
    cursor: nesw-resize;
}
.design-config-overlay .resizer.bottom-left {
    left: -5px;
    bottom: -5px;
    cursor: nesw-resize;
}
.design-config-overlay .resizer.bottom-right {
    right: -5px;
    bottom: -5px;
    cursor: nwse-resize;
}
.design-config-overlay .resizer.top {
    left: 50%;
    top: -5px;
    transform: translateX(-50%);
    cursor: ns-resize;
}
.design-config-overlay .resizer.bottom {
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    cursor: ns-resize;
}
.design-config-overlay .resizer.left {
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: ew-resize;
}
.design-config-overlay .resizer.right {
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: ew-resize;
}